body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
  padding: 20px;
  margin: 0;
  min-height: 100vh;
  background-image: url('../assets/images/static-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.main-header {
  font-size: 5em;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  border-radius: 8px;
  background-color: #222;
  padding: 30px;
}

.score-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: gold;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #222;
  opacity: 0.9;
}
