:root {
  --bg-dark: #111;
  --bg-container: rgba(34, 34, 34, 0.9);
  --text-light: #eee;
  --highlight: #e67e22;
  --win-color: #00d359;
  --loss-color: #d11100;
  --playoff-color: #0659b1;
  --playin-color: #3516c3;
  --almost-match-color: #f1c40f;
}
