.schedule-container {
  margin-bottom: 30px;
}

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.schedule-day {
  background-color: var(--bg-container);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.schedule-day h2 {
  text-align: center;
  color: var(--highlight);
  margin-bottom: 10px;
}

.schedule-day table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.schedule-day td img {
  vertical-align: middle;
  margin-right: 5px;
}

td.live-score {
  color: #ff3c11;
  font-weight: bold;
}

td.game-over-score {
  color: var(--text-light);
  font-weight: bold;
}
