.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.standings {
  background-color: var(--bg-container);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.standings h2 {
  text-align: center;
  color: #1abc9c;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
}

th, td { padding: 5px; text-align: center; border-bottom: 1px solid #333333; }
th { background-color: #333; color: #fff; }

td.win { color: var(--win-color); font-weight: bold; }
td.loss { color: var(--loss-color); font-weight: bold; }

tr.mvp-match { background-color: var(--win-color); color: #000; font-weight: bold; }

tr.match { background-color: var(--win-color); color: #000; font-weight: bold; }
tr.almost-match { background-color: var(--almost-match-color); color: #000; font-weight: bold; }

tr.mvp-first { background-color: var(--mvp-first-color); color: #000000; font-weight: bold}
tr.mvp-second { background-color: var(--mvp-second-color); color: #000000; font-weight: bold}
tr.mvp-third { background-color: var(--mvp-third-color); color: #000000; font-weight: bold}

tr.conference-leader { background-color: var(--conference-leader); color: #fff;}
tr.playoff-seed { background-color: var(--playoff-color); color: #fff;}
tr.playin-seed { background-color: var(--playin-color); color: #fff;}
